# Dependencies
node_modules

# Build output
dist
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode
.idea
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
